@import 'https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700';
@font-face { font-family: 'icomoon'; src: url("fonts/icomoon.eot?5q993w"); src: url("fonts/icomoon.eot?5q993w#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?5q993w") format("truetype"), url("fonts/icomoon.woff?5q993w") format("woff"), url("fonts/icomoon.svg?5q993w#icomoon") format("svg"); font-weight: normal; font-style: normal; }

[class^="icon-"], [class*=" icon-"] { /* use !important to prevent issues with browser extensions that change fonts */ font-family: 'icomoon' !important; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; /* Better Font Rendering =========== */ -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.icon-key:before { content: "\e902"; }

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html, body { margin: 0; width: 100%; height: 100%; overflow: hidden; }

body, .sans-serif { font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

.serif, #client-room .player .name { font: 14px "Roboto Slab", Georgia, serif; }

#view-container { width: 100%; height: 100%; }

a { color: #0645ad; text-decoration: none; }

.logo { font-weight: 100; font-family: Arial; text-align: center; margin-bottom: 40px; }

.logo span { color: #0645ad; font-style: italic; }

#client-room #view-lobby { position: relative; width: 100%; height: 100%; background: -webkit-gradient(linear, left top, left bottom, from(white), to(#efefef)); background: -webkit-linear-gradient(top, white, #efefef); background: linear-gradient(180deg, white, #efefef); }

#client-room .type-wrapper { font-size: 7.2em; margin: 0; position: absolute; bottom: 55%; right: 40%; -webkit-transform: translateX(0, 50%); -ms-transform: translateX(0, 50%); transform: translateX(0, 50%); white-space: nowrap; -webkit-backface-visibility: hidden; -webkit-transform: translateZ(0) scale(1, 1); transform: translateZ(0) scale(1, 1); -webkit-transition: 1.2s right cubic-bezier(0.86, 0, 0.07, 1) 1s; transition: 1.2s right cubic-bezier(0.86, 0, 0.07, 1) 1s; }

#client-room .type-wrapper .typed, #client-room .type-wrapper .typed-cursor { display: inline-block; opacity: 1; -webkit-transition: 1.2s opacity cubic-bezier(0.86, 0, 0.07, 1) 1s; transition: 1.2s opacity cubic-bezier(0.86, 0, 0.07, 1) 1s; }

#client-room .type-wrapper .logo { display: inline-block; position: absolute; left: 100%; top: -0.5em; opacity: 0.05; -webkit-transition: 1.2s opacity cubic-bezier(0.86, 0, 0.07, 1) 1s; transition: 1.2s opacity cubic-bezier(0.86, 0, 0.07, 1) 1s; }

#client-room .type-wrapper .description { position: absolute; opacity: 0; top: 200px; font-size: 0.2em; white-space: normal; left: 110%; width: 50%; -webkit-transition: 1.5s opacity cubic-bezier(0.86, 0, 0.07, 1) 1s, 1.5s left cubic-bezier(0.86, 0, 0.07, 1) 1s; transition: 1.5s opacity cubic-bezier(0.86, 0, 0.07, 1) 1s, 1.5s left cubic-bezier(0.86, 0, 0.07, 1) 1s; }

#client-room .type-wrapper .description p { margin: 0 0 2em 0; line-height: 1.5em; }

#client-room .type-wrapper.slide-left { right: 95%; }

#client-room .type-wrapper.slide-left .typed { opacity: 0.05; }

#client-room .type-wrapper.slide-left .typed-cursor { opacity: 0; }

#client-room .type-wrapper.slide-left .logo { opacity: 1; }

#client-room .type-wrapper.slide-left .description { opacity: 1; left: 100%; }

#client-room #room-key { font-size: 2em; }

#client-room #room-key span { vertical-align: middle; }

#client-room #room-key .icon-key { color: #e0c32b; margin-right: 15px; position: relative; top: 2px; }

#client-room #room-key .key { color: #0645ad; }

#client-room .timer { display: none; }

#client-room .players { position: absolute; bottom: 0; width: 100%; display: table; table-layout: fixed; text-align: center; margin-bottom: 30px; }

#client-room .player { display: table-cell; vertical-align: bottom; }

#client-room .player .name { font-size: 1.8em; font-weight: 300; margin: 0; position: relative; word-break: break-all; top: 100px; opacity: 0; -webkit-transition: 0.6s top cubic-bezier(0.86, 0, 0.07, 1) 1s, 0.6s opacity ease-in-out 1s; transition: 0.6s top cubic-bezier(0.86, 0, 0.07, 1) 1s, 0.6s opacity ease-in-out 1s; }

#client-room .player .status { margin: 0; font-size: 1.4em; margin-bottom: 25px; color: black; text-transform: lowercase; letter-spacing: 1px; position: relative; -webkit-transition: 0.2s color ease-out; transition: 0.2s color ease-out; }

#client-room .player .status::after { content: ''; position: absolute; height: 5px; width: 5px; -webkit-border-radius: 50%; border-radius: 50%; right: 50%; bottom: -webkit-calc(100% + 20px); bottom: calc(100% + 20px); left: auto; -webkit-transform: translate(50%, 50%); -ms-transform: translate(50%, 50%); transform: translate(50%, 50%); background-color: black; -webkit-transition: 1.2s bottom cubic-bezier(0.68, -0.55, 0.265, 1.55), 1s background-color ease, 0.2s border-radius ease-in-out 0.8s, 0.2s height ease 1s, 0.4s width cubic-bezier(0.86, 0, 0.07, 1) 1s; transition: 1.2s bottom cubic-bezier(0.68, -0.55, 0.265, 1.55), 1s background-color ease, 0.2s border-radius ease-in-out 0.8s, 0.2s height ease 1s, 0.4s width cubic-bezier(0.86, 0, 0.07, 1) 1s; }

#client-room .player.joined .status { color: #ddd; }

#client-room .player.joined .status::after { bottom: 45%; -webkit-border-radius: 0; border-radius: 0; height: 3px; width: 60%; }

#client-room .player.joined .name { top: -10px; opacity: 1; }

#client-room .questions { display: inline-block; vertical-align: top; width: 45%; display: none; }

#client-room .player:nth-of-type(1) { position: relative; opacity: 0; top: 30px; -webkit-transition: 1s all ease-in-out 1200ms; transition: 1s all ease-in-out 1200ms; }

#client-room .player:nth-of-type(1).show { opacity: 1; top: 0px; }

#client-room .player:nth-of-type(1).joined .status::after { background-color: red; }

#client-room .player:nth-of-type(2) { position: relative; opacity: 0; top: 30px; -webkit-transition: 1s all ease-in-out 1300ms; transition: 1s all ease-in-out 1300ms; }

#client-room .player:nth-of-type(2).show { opacity: 1; top: 0px; }

#client-room .player:nth-of-type(2).joined .status::after { background-color: orange; }

#client-room .player:nth-of-type(3) { position: relative; opacity: 0; top: 30px; -webkit-transition: 1s all ease-in-out 1400ms; transition: 1s all ease-in-out 1400ms; }

#client-room .player:nth-of-type(3).show { opacity: 1; top: 0px; }

#client-room .player:nth-of-type(3).joined .status::after { background-color: #e0c32b; }

#client-room .player:nth-of-type(4) { position: relative; opacity: 0; top: 30px; -webkit-transition: 1s all ease-in-out 1500ms; transition: 1s all ease-in-out 1500ms; }

#client-room .player:nth-of-type(4).show { opacity: 1; top: 0px; }

#client-room .player:nth-of-type(4).joined .status::after { background-color: green; }

#client-room .player:nth-of-type(5) { position: relative; opacity: 0; top: 30px; -webkit-transition: 1s all ease-in-out 1600ms; transition: 1s all ease-in-out 1600ms; }

#client-room .player:nth-of-type(5).show { opacity: 1; top: 0px; }

#client-room .player:nth-of-type(5).joined .status::after { background-color: blue; }

#client-room .player:nth-of-type(6) { position: relative; opacity: 0; top: 30px; -webkit-transition: 1s all ease-in-out 1700ms; transition: 1s all ease-in-out 1700ms; }

#client-room .player:nth-of-type(6).show { opacity: 1; top: 0px; }

#client-room .player:nth-of-type(6).joined .status::after { background-color: purple; }

#client-room .player:nth-of-type(7) { position: relative; opacity: 0; top: 30px; -webkit-transition: 1s all ease-in-out 1800ms; transition: 1s all ease-in-out 1800ms; }

#client-room .player:nth-of-type(7).show { opacity: 1; top: 0px; }

#client-room .player:nth-of-type(7).joined .status::after { background-color: brown; }

#client-room .player:nth-of-type(8) { position: relative; opacity: 0; top: 30px; -webkit-transition: 1s all ease-in-out 1900ms; transition: 1s all ease-in-out 1900ms; }

#client-room .player:nth-of-type(8).show { opacity: 1; top: 0px; }

#client-room .player:nth-of-type(8).joined .status::after { background-color: black; }

.typed-cursor { opacity: 1; -webkit-animation: blink 1.1s infinite; animation: blink 1.1s infinite; position: relative; bottom: 0.15em; font-size: 1.4em; font-weight: 100; margin-left: 0.1em; -webkit-transition: 0.5s opacity ease-in-out; transition: 0.5s opacity ease-in-out; }

.typed-cursor.hide { -webkit-animation: none; animation: none; opacity: 0; }

@keyframes blink { 0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; } }

@-webkit-keyframes blink { 0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; } }

#client-player #view-player-registration { padding: 40px 15%; }

#client-player .view:not(#view-player-registration) { display: block; min-height: 100%; padding: 15px; display: none; }

#client-player .display-name { margin: 0; text-align: center; font-size: 2em; padding: 10px 20px; }

#client-player .display-name span { font-style: italic; color: #0645ad; }

#client-player h3 { text-align: center; font-size: 14px; color: #bbb; }

#client-player .submit-game-start { display: none; }

#client-player .submit-game-start.show { display: block; }

#client-player .question { font-size: 1.3em; border-left: 3px solid lightgrey; padding: 10px 0 10px 10px; }

#client-player form { width: 100%; }

#client-player label { margin-bottom: 10px; display: block; }

#client-player input, #client-player .submit { width: 100%; font-size: 1.5em; display: block; padding: 10px; margin: 10px 0; border: 2px dotted black; -webkit-border-radius: 5px; border-radius: 5px; }

#client-player input:focus, #client-player .submit:focus { outline: none; }

#client-player .submit { margin: 25px auto 10px; width: 50%; text-align: center; background-color: white; color: #0645ad; border: 2px solid; -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 255, 0.2); box-shadow: 0px 3px 6px 0px rgba(0, 0, 255, 0.2); }

#client-player .submit-answer:nth-of-type(2) { display: none; }
