@import 'https://fonts.googleapis.com/css?family=PT+Serif:400,400i|Roboto+Slab|Roboto:300,400,700';
@font-face { font-family: 'icomoon'; src: url("fonts/icomoon.eot?5q993w"); src: url("fonts/icomoon.eot?5q993w#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?5q993w") format("truetype"), url("fonts/icomoon.woff?5q993w") format("woff"), url("fonts/icomoon.svg?5q993w#icomoon") format("svg"); font-weight: normal; font-style: normal; }

[class^="icon-"], [class*=" icon-"] { /* use !important to prevent issues with browser extensions that change fonts */ font-family: 'icomoon' !important; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; /* Better Font Rendering =========== */ -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.icon-key:before { content: "\e902"; }

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html, body { margin: 0; width: 100%; height: 100%; overflow: hidden; }

body, .sans-serif { font: 14px "Roboto", Helvetica, Arial, sans-serif; }

.serif, #client-room #view-lobby .player .name, #client-room #view-answer-phase .player .name { font: 14px "Roboto Slab", Georgia, serif; }

a { color: #0645ad; text-decoration: none; }

.logo { font-weight: 300; font-family: Arial; text-align: center; margin-bottom: 40px; }

.logo span { color: #0645ad; font-style: italic; }

.player-1-bg { color: black; background-color: transparent; }

.player-1-bg.coloured { color: white; background-color: #ED6D79; }

.player-2-bg { color: black; background-color: transparent; }

.player-2-bg.coloured { color: white; background-color: #90D4F7; }

.player-3-bg { color: black; background-color: transparent; }

.player-3-bg.coloured { color: white; background-color: #FFDC89; }

.player-4-bg { color: black; background-color: transparent; }

.player-4-bg.coloured { color: white; background-color: #71E096; }

.player-5-bg { color: black; background-color: transparent; }

.player-5-bg.coloured { color: white; background-color: #F5A26F; }

.player-6-bg { color: black; background-color: transparent; }

.player-6-bg.coloured { color: white; background-color: #D4A697; }

.player-7-bg { color: black; background-color: transparent; }

.player-7-bg.coloured { color: white; background-color: #DA97E0; }

.player-8-bg { color: black; background-color: transparent; }

.player-8-bg.coloured { color: white; background-color: #FFB3BA; }

#client-room #view-container { width: 100%; height: 100%; white-space: nowrap; position: relative; -webkit-transition: 1s right cubic-bezier(0.86, 0, 0.07, 1); transition: 1s right cubic-bezier(0.86, 0, 0.07, 1); }

#client-room #view-container[data-current-view="lobby"] { right: 0; }

#client-room #view-container[data-current-view="describe-round-1"] { right: 100%; }

#client-room #view-container[data-current-view="answer-phase"] { right: 200%; }

#client-room #view-container[data-current-view="voting-phase"] { right: 300%; }

#client-room .view { position: relative; width: 100%; height: 100%; display: inline-block; vertical-align: top; white-space: normal; overflow: hidden; background: -webkit-gradient(linear, left top, left bottom, from(white), to(#efefef)); background: -webkit-linear-gradient(top, white, #efefef); background: linear-gradient(180deg, white, #efefef); padding: 0 0 0 5px; margin: 0 -5px 0 0; }

#client-room #view-lobby { -webkit-transition: 0s max-height linear 1s; transition: 0s max-height linear 1s; }

#client-room #view-lobby .type-wrapper { font-size: 7.2em; margin: 0; position: absolute; bottom: 55%; right: 40%; -webkit-transform: translateX(0, 50%); -ms-transform: translateX(0, 50%); transform: translateX(0, 50%); white-space: nowrap; -webkit-backface-visibility: hidden; -webkit-transform: translateZ(0) scale(1, 1); transform: translateZ(0) scale(1, 1); -webkit-transition: 1.2s right cubic-bezier(0.86, 0, 0.07, 1) 1s; transition: 1.2s right cubic-bezier(0.86, 0, 0.07, 1) 1s; }

#client-room #view-lobby .type-wrapper .typed, #client-room #view-lobby .type-wrapper .typed-cursor { min-height: 1em; display: inline-block; opacity: 1; -webkit-transition: 1.2s opacity cubic-bezier(0.86, 0, 0.07, 1) 1s; transition: 1.2s opacity cubic-bezier(0.86, 0, 0.07, 1) 1s; }

#client-room #view-lobby .type-wrapper .logo { display: inline-block; position: absolute; left: 100%; top: -0.5em; opacity: 0.05; -webkit-transition: 1.2s opacity cubic-bezier(0.86, 0, 0.07, 1) 1s; transition: 1.2s opacity cubic-bezier(0.86, 0, 0.07, 1) 1s; }

#client-room #view-lobby .type-wrapper .description { position: absolute; opacity: 0; top: 200px; font-size: 0.2em; white-space: normal; left: 110%; width: 50%; -webkit-transition: 1.5s opacity cubic-bezier(0.86, 0, 0.07, 1) 1s, 1.5s left cubic-bezier(0.86, 0, 0.07, 1) 1s; transition: 1.5s opacity cubic-bezier(0.86, 0, 0.07, 1) 1s, 1.5s left cubic-bezier(0.86, 0, 0.07, 1) 1s; }

#client-room #view-lobby .type-wrapper .description p { margin: 0 0 2em 0; line-height: 1.5em; }

#client-room #view-lobby .type-wrapper.slide-left { right: 95%; }

#client-room #view-lobby .type-wrapper.slide-left .typed { opacity: 0.05; }

#client-room #view-lobby .type-wrapper.slide-left .typed-cursor { opacity: 0; }

#client-room #view-lobby .type-wrapper.slide-left .logo { opacity: 1; }

#client-room #view-lobby .type-wrapper.slide-left .description { opacity: 1; left: 100%; }

#client-room #view-lobby #room-key { font-size: 2em; }

#client-room #view-lobby #room-key span { vertical-align: middle; }

#client-room #view-lobby #room-key .icon-key { color: #e0c32b; margin-right: 15px; position: relative; top: 2px; }

#client-room #view-lobby #room-key .key { color: #0645ad; }

#client-room #view-lobby .players { position: absolute; bottom: 0; width: 100%; display: table; table-layout: fixed; text-align: center; margin-bottom: 30px; }

#client-room #view-lobby .player { display: table-cell; vertical-align: bottom; }

#client-room #view-lobby .player .name { font-size: 1.8em; font-weight: 300; margin: 0; position: relative; word-break: break-all; top: 100px; opacity: 0; -webkit-transition: 0.6s top cubic-bezier(0.86, 0, 0.07, 1) 1s, 0.6s opacity ease-in-out 1s; transition: 0.6s top cubic-bezier(0.86, 0, 0.07, 1) 1s, 0.6s opacity ease-in-out 1s; }

#client-room #view-lobby .player .status { margin: 0; font-size: 1.4em; margin-bottom: 25px; color: black; text-transform: lowercase; letter-spacing: 1px; position: relative; -webkit-transition: 0.2s color ease-out 1.2s; transition: 0.2s color ease-out 1.2s; }

#client-room #view-lobby .player .status::after { content: ''; position: absolute; height: 8px; width: 8px; -webkit-border-radius: 50%; border-radius: 50%; right: 50%; bottom: -webkit-calc(100% + 20px); bottom: calc(100% + 20px); left: auto; -webkit-transform: translate(50%, 50%); -ms-transform: translate(50%, 50%); transform: translate(50%, 50%); background-color: black; -webkit-transition: 1.2s bottom cubic-bezier(0.68, -0.55, 0.265, 1.55), 1s background-color ease, 0.2s border-radius ease-in-out 0.8s, 0.2s height ease-out 1s, 0.4s width cubic-bezier(0.86, 0, 0.07, 1) 1s; transition: 1.2s bottom cubic-bezier(0.68, -0.55, 0.265, 1.55), 1s background-color ease, 0.2s border-radius ease-in-out 0.8s, 0.2s height ease-out 1s, 0.4s width cubic-bezier(0.86, 0, 0.07, 1) 1s; }

#client-room #view-lobby .player.joined .status { color: #ddd; }

#client-room #view-lobby .player.joined .status::after { bottom: 45%; -webkit-border-radius: 0; border-radius: 0; height: 3px; width: 60%; }

#client-room #view-lobby .player.joined .name { top: -10px; opacity: 1; }

#client-room #view-lobby .player:nth-of-type(1) { position: relative; opacity: 0; top: 30px; -webkit-transition: 1s all ease-in-out 1200ms; transition: 1s all ease-in-out 1200ms; }

#client-room #view-lobby .player:nth-of-type(1).show { opacity: 1; top: 0px; }

#client-room #view-lobby .player:nth-of-type(1) .status::after { background-color: #ED6D79; }

#client-room #view-lobby .player:nth-of-type(2) { position: relative; opacity: 0; top: 30px; -webkit-transition: 1s all ease-in-out 1300ms; transition: 1s all ease-in-out 1300ms; }

#client-room #view-lobby .player:nth-of-type(2).show { opacity: 1; top: 0px; }

#client-room #view-lobby .player:nth-of-type(2) .status::after { background-color: #90D4F7; }

#client-room #view-lobby .player:nth-of-type(3) { position: relative; opacity: 0; top: 30px; -webkit-transition: 1s all ease-in-out 1400ms; transition: 1s all ease-in-out 1400ms; }

#client-room #view-lobby .player:nth-of-type(3).show { opacity: 1; top: 0px; }

#client-room #view-lobby .player:nth-of-type(3) .status::after { background-color: #FFDC89; }

#client-room #view-lobby .player:nth-of-type(4) { position: relative; opacity: 0; top: 30px; -webkit-transition: 1s all ease-in-out 1500ms; transition: 1s all ease-in-out 1500ms; }

#client-room #view-lobby .player:nth-of-type(4).show { opacity: 1; top: 0px; }

#client-room #view-lobby .player:nth-of-type(4) .status::after { background-color: #71E096; }

#client-room #view-lobby .player:nth-of-type(5) { position: relative; opacity: 0; top: 30px; -webkit-transition: 1s all ease-in-out 1600ms; transition: 1s all ease-in-out 1600ms; }

#client-room #view-lobby .player:nth-of-type(5).show { opacity: 1; top: 0px; }

#client-room #view-lobby .player:nth-of-type(5) .status::after { background-color: #F5A26F; }

#client-room #view-lobby .player:nth-of-type(6) { position: relative; opacity: 0; top: 30px; -webkit-transition: 1s all ease-in-out 1700ms; transition: 1s all ease-in-out 1700ms; }

#client-room #view-lobby .player:nth-of-type(6).show { opacity: 1; top: 0px; }

#client-room #view-lobby .player:nth-of-type(6) .status::after { background-color: #D4A697; }

#client-room #view-lobby .player:nth-of-type(7) { position: relative; opacity: 0; top: 30px; -webkit-transition: 1s all ease-in-out 1800ms; transition: 1s all ease-in-out 1800ms; }

#client-room #view-lobby .player:nth-of-type(7).show { opacity: 1; top: 0px; }

#client-room #view-lobby .player:nth-of-type(7) .status::after { background-color: #DA97E0; }

#client-room #view-lobby .player:nth-of-type(8) { position: relative; opacity: 0; top: 30px; -webkit-transition: 1s all ease-in-out 1900ms; transition: 1s all ease-in-out 1900ms; }

#client-room #view-lobby .player:nth-of-type(8).show { opacity: 1; top: 0px; }

#client-room #view-lobby .player:nth-of-type(8) .status::after { background-color: #FFB3BA; }

#client-room #view-describe-round-1 .type-wrapper { font-size: 7.2em; margin: 0; position: absolute; top: 13%; left: 5%; -webkit-transform: translateX(0, 50%); -ms-transform: translateX(0, 50%); transform: translateX(0, 50%); white-space: nowrap; -webkit-backface-visibility: hidden; -webkit-transform: translateZ(0) scale(1, 1); transform: translateZ(0) scale(1, 1); -webkit-transition: 1.2s right cubic-bezier(0.86, 0, 0.07, 1) 1s; transition: 1.2s right cubic-bezier(0.86, 0, 0.07, 1) 1s; }

#client-room #view-describe-round-1 .type-wrapper .typed, #client-room #view-describe-round-1 .type-wrapper .typed-cursor { min-height: 1em; display: inline-block; opacity: 1; -webkit-transition: 1.2s opacity cubic-bezier(0.86, 0, 0.07, 1) 1s; transition: 1.2s opacity cubic-bezier(0.86, 0, 0.07, 1) 1s; }

#client-room #view-describe-round-1 .type-wrapper .logo { text-align: left; }

#client-room #view-describe-round-1 .type-wrapper .description { margin: 0; padding: 0; font-size: 0.2em; white-space: normal; list-style-type: none; }

#client-room #view-describe-round-1 .type-wrapper .description li { margin: 0 0 1em 0; line-height: 1.5em; opacity: 0; position: relative; top: 200px; -webkit-transition: 1s opacity cubic-bezier(0.86, 0, 0.07, 1), 1s top cubic-bezier(0.86, 0, 0.07, 1); transition: 1s opacity cubic-bezier(0.86, 0, 0.07, 1), 1s top cubic-bezier(0.86, 0, 0.07, 1); }

#client-room #view-describe-round-1 .type-wrapper .description li.show { top: 0; opacity: 1; }

#client-room #view-describe-round-1 .type-wrapper.slide-left { right: 95%; }

#client-room #view-describe-round-1 .type-wrapper.slide-left .typed { opacity: 0.05; }

#client-room #view-describe-round-1 .type-wrapper.slide-left .typed-cursor { opacity: 0; }

#client-room #view-describe-round-1 .type-wrapper.slide-left .logo { opacity: 1; }

#client-room #view-describe-round-1 .type-wrapper.slide-left .description { opacity: 1; left: 100%; }

#client-room #view-answer-phase .question-anchor { position: absolute; width: 100%; left: 0; opacity: 0; top: 100%; -webkit-transition: 0.5s opacity cubic-bezier(0.86, 0, 0.07, 1) 1s, 0.5s top cubic-bezier(0.86, 0, 0.07, 1) 1s; transition: 0.5s opacity cubic-bezier(0.86, 0, 0.07, 1) 1s, 0.5s top cubic-bezier(0.86, 0, 0.07, 1) 1s; }

#client-room #view-answer-phase .question-anchor .question { font-size: 5em; position: absolute; top: 0%; left: 50%; -webkit-transform: translate(-50%, 0%); -ms-transform: translate(-50%, 0%); transform: translate(-50%, 0%); margin: 0; -webkit-transition: 0.6s width cubic-bezier(0.23, 1, 0.32, 1), 0.6s font-size cubic-bezier(0.23, 1, 0.32, 1), 0.6s transform cubic-bezier(0.23, 1, 0.32, 1), 0.6s left cubic-bezier(0.23, 1, 0.32, 1); transition: 0.6s width cubic-bezier(0.23, 1, 0.32, 1), 0.6s font-size cubic-bezier(0.23, 1, 0.32, 1), 0.6s transform cubic-bezier(0.23, 1, 0.32, 1), 0.6s left cubic-bezier(0.23, 1, 0.32, 1); }

#client-room #view-answer-phase .question-anchor.reveal { opacity: 1; top: 40%; }

#client-room #view-answer-phase .question-anchor.tuck { top: 40px; -webkit-transition: 0.7s top cubic-bezier(0.23, 1, 0.32, 1); transition: 0.7s top cubic-bezier(0.23, 1, 0.32, 1); }

#client-room #view-answer-phase .question-anchor.tuck .question { left: 40px; min-width: 50%; -webkit-transform: translate(0%, 0%); -ms-transform: translate(0%, 0%); transform: translate(0%, 0%); font-size: 3em; }

#client-room #view-answer-phase .players { position: absolute; bottom: 0; width: 100%; display: table; table-layout: fixed; text-align: center; margin-bottom: 60px; }

#client-room #view-answer-phase .player { display: table-cell; vertical-align: bottom; }

#client-room #view-answer-phase .player .name { font-size: 1.8em; font-weight: 300; margin: 0; position: relative; word-break: break-all; bottom: 0; color: #bbb; background: transparent; padding: 5px 0; -webkit-transition: 1s bottom cubic-bezier(0.86, 0, 0.07, 1), 0.6s background ease-in-out 0.4s, 0.6s color ease-in-out 0.4s; transition: 1s bottom cubic-bezier(0.86, 0, 0.07, 1), 0.6s background ease-in-out 0.4s, 0.6s color ease-in-out 0.4s; }

#client-room #view-answer-phase .player.answered:nth-of-type(1) .name { color: white; background: #ED6D79; bottom: 91px; }

#client-room #view-answer-phase .player.answered:nth-of-type(2) .name { color: white; background: #90D4F7; bottom: 105px; }

#client-room #view-answer-phase .player.answered:nth-of-type(3) .name { color: white; background: #FFDC89; bottom: 97px; }

#client-room #view-answer-phase .player.answered:nth-of-type(4) .name { color: white; background: #71E096; bottom: 123px; }

#client-room #view-answer-phase .player.answered:nth-of-type(5) .name { color: white; background: #F5A26F; bottom: 81px; }

#client-room #view-answer-phase .player.answered:nth-of-type(6) .name { color: white; background: #D4A697; bottom: 83px; }

#client-room #view-answer-phase .player.answered:nth-of-type(7) .name { color: white; background: #DA97E0; bottom: 53px; }

#client-room #view-answer-phase .player.answered:nth-of-type(8) .name { color: white; background: #FFB3BA; bottom: 76px; }

#client-room #view-answer-phase .countdown { position: absolute; top: 40%; right: 50%; -webkit-transform: translate(50%, -50%); -ms-transform: translate(50%, -50%); transform: translate(50%, -50%); width: -webkit-calc(20% + 25px); width: calc(20% + 25px); }

#client-room #view-answer-phase .countdown svg { width: 100%; }

#client-room #view-answer-phase .countdown .circle { stroke-dasharray: 252; stroke-dashoffset: 252; }

#client-room #view-answer-phase .countdown .timer { position: absolute; right: 50%; bottom: 50%; -webkit-transform: translate(50%, 50%); -ms-transform: translate(50%, 50%); transform: translate(50%, 50%); color: #ccc; font-size: 4em; letter-spacing: 5px; margin: 0; }

#client-room #view-voting-phase .question { width: 80%; margin: 0 auto; font-size: 3em; position: absolute; top: 40px; left: 40px; border-left: 7px solid lightgrey; padding: 10px 40px; }

#client-room #view-voting-phase .countdown { position: absolute; top: 20px; right: 20px; width: -webkit-calc(10% + 25px); width: calc(10% + 25px); }

#client-room #view-voting-phase .countdown svg { width: 100%; }

#client-room #view-voting-phase .countdown .circle { stroke-dasharray: 252; stroke-dashoffset: 252; }

#client-room #view-voting-phase .countdown .timer { position: absolute; right: 50%; bottom: 50%; -webkit-transform: translate(50%, 50%); -ms-transform: translate(50%, 50%); transform: translate(50%, 50%); color: #ccc; font-size: 2em; letter-spacing: 5px; margin: 0; }

#client-room #view-voting-phase .answers { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: start; -webkit-align-items: flex-start; -ms-flex-align: start; align-items: flex-start; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; width: 100%; position: absolute; top: -webkit-calc(25% + 50px); top: calc(25% + 50px); right: 50%; -webkit-transform: translateX(50%); -ms-transform: translateX(50%); transform: translateX(50%); padding: 40px; }

#client-room #view-voting-phase .answer { background: #222; color: white; padding: 40px 40px -webkit-calc(5% + 100px); padding: 40px 40px calc(5% + 100px); -webkit-box-flex: 1; -webkit-flex-grow: 1; -ms-flex-positive: 1; flex-grow: 1; margin: 0 3px 3px 0px; position: relative; }

#client-room #view-voting-phase .answer::after { content: ''; position: absolute; top: 0; right: 0; bottom: 0; left: 0; background-color: rgba(255, 255, 255, 0); -webkit-transition: 0.4s background-color ease-out; transition: 0.4s background-color ease-out; }

#client-room #view-voting-phase .answer.fade::after { background-color: rgba(255, 255, 255, 0.85); }

#client-room #view-voting-phase .answer .content { margin: 0; font-size: 2em; font-weight: 300; }

#client-room #view-voting-phase .votes { position: absolute; left: 0; bottom: 0; width: 100%; }

#client-room #view-voting-phase .votes .vote { overflow: hidden; font-size: 1.3em; font-weight: 500; width: 0; -webkit-transition: 0.8s width cubic-bezier(0.23, 1, 0.32, 1); transition: 0.8s width cubic-bezier(0.23, 1, 0.32, 1); }

#client-room #view-voting-phase .votes .vote.reveal { width: 100%; }

#client-room #view-voting-phase .votes .vote p { margin: 0; padding: 5px 20px; }

.typed-cursor { opacity: 1; -webkit-animation: blink 1.1s infinite; animation: blink 1.1s infinite; position: relative; bottom: 0.15em; font-size: 1.4em; font-weight: 100; margin-left: 0.1em; -webkit-transition: 0.5s opacity ease-in-out; transition: 0.5s opacity ease-in-out; }

.typed-cursor.hide { -webkit-animation: none; animation: none; opacity: 0; }

@keyframes blink { 0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; } }

@-webkit-keyframes blink { 0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; } }

#client-player #view-player-registration { padding: 40px 15%; }

#client-player .view:not(#view-player-registration) { display: block; min-height: 100%; padding: 15px; display: none; }

#client-player .display-name { margin: 0; text-align: center; font-size: 2em; padding: 10px 20px; }

#client-player .display-name span { font-style: italic; color: #0645ad; }

#client-player h3 { text-align: center; font-size: 14px; color: #bbb; }

#client-player .submit-game-start { display: none; }

#client-player .submit-game-start.show { display: block; }

#client-player .question { font-size: 1.3em; border-left: 3px solid lightgrey; padding: 10px 0 10px 10px; }

#client-player form { width: 100%; }

#client-player label { margin-bottom: 10px; display: block; }

#client-player input, #client-player .submit { width: 100%; font-size: 1.5em; display: block; padding: 10px; margin: 10px 0; border: 2px dotted black; -webkit-border-radius: 5px; border-radius: 5px; }

#client-player input:focus, #client-player .submit:focus { outline: none; }

#client-player .submit { margin: 25px auto 10px; width: 50%; text-align: center; background-color: white; color: #0645ad; border: 2px solid; -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 255, 0.2); box-shadow: 0px 3px 6px 0px rgba(0, 0, 255, 0.2); }

#client-player .submit-answer:nth-of-type(2) { display: none; }
