//colours

$wikiblue: #0645ad;
$keygold: #e0c32b;
$playerColors: red, orange, $keygold, green, blue, purple, brown, black;

//easings 

$easeOutQuint: cubic-bezier(0.23, 1, 0.32, 1);
$easeInOutQuint: cubic-bezier(0.86, 0, 0.07, 1);
$easeInOutBack: cubic-bezier(0.68, -0.55, 0.265, 1.55);

//fonts

@import 'https://fonts.googleapis.com/css?family=PT+Serif:400,400i|Roboto+Slab|Roboto:300,400,700';

@font-face {
	font-family: 'icomoon';
	src:  url('fonts/icomoon.eot?5q993w');
	src:  url('fonts/icomoon.eot?5q993w#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?5q993w') format('truetype'),
		url('fonts/icomoon.woff?5q993w') format('woff'),
		url('fonts/icomoon.svg?5q993w#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-key:before {
	content: "\e902";
}

//styles

* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	width: 100%;
	height: 100%;	
	overflow: hidden;
}
body, .sans-serif {	
	font: 14px "Roboto", Helvetica, Arial, sans-serif;	
}
.serif {	
	font: 14px "Roboto Slab", Georgia, serif;
}

a {
	color: #0645ad;
	text-decoration: none;
}

.logo {
	font-weight: 300;
	font-family: Arial;
	text-align: center;
	margin-bottom: 40px;
	span {
		color: $wikiblue;
		font-style: italic;
	}
}

#client-room {	
	#view-container {
		width: 100%;
		height: 100%;
		white-space: nowrap;
		position: relative;
		transition: 1s right $easeInOutQuint;
		&[data-current-view="lobby"] {
			right: 0;
		}
		&[data-current-view="describe-round-1"] {
			right: 100%;
		}
		&[data-current-view="answer-phase"] {
			right: 200%;
		}
	}
	.view {
		position: relative;
	    width: 100%;
	    height: 100%; 
	    display: inline-block;  
	    vertical-align: top;
	    white-space: normal;
	    overflow: hidden;
	    background: linear-gradient(180deg, white, #efefef);
	    padding: 0 0 0 5px;
	    margin: 0 -5px 0 0;
	}
	#view-lobby {
		transition: 0s max-height linear 1s;
		.type-wrapper {
			font-size: 7.2em;
		    margin: 0;
		    position: absolute;
		    bottom: 55%;
		    right: 40%;
		    transform: translateX(0, 50%);
		    white-space: nowrap;	    
		    -webkit-backface-visibility: hidden;
		    transform: translateZ(0) scale(1.0, 1.0);
		    transition: 1.2s right $easeInOutQuint 1s;
		    .typed, .typed-cursor {
		    	min-height: 1em;
		    	display: inline-block;
		    	opacity: 1;  
		    	transition: 1.2s opacity $easeInOutQuint 1s;
		    }
		    .logo {
		    	display: inline-block;
		    	position: absolute;
		    	left: 100%;
		    	top: -0.5em;
		    	opacity: 0.05;
		    	transition: 1.2s opacity $easeInOutQuint 1s;
		    }
		    .description {
		    	position: absolute;
			    opacity: 0;
			    top: 200px;
			    font-size: 0.2em;
			    white-space: normal;
			    left: 110%;
			    width: 50%;
			    transition: 
			    	1.5s opacity $easeInOutQuint 1s,
			    	1.5s left $easeInOutQuint 1s;
			    p {
			    	margin: 0 0 2em 0;
				    line-height: 1.5em;
			    }
		    }
		    &.slide-left {
		    	right: 95%;	    	
			    .typed {
			    	opacity: 0.05;  		    	
			    } 
			    .typed-cursor {
			    	opacity: 0;  		    	
			    }
		        .logo {
			    	opacity: 1;
			    }		    
			    .description {
			    	opacity: 1;	
			    	left: 100%;	    	
			    }
			}
		}		
		#room-key {
			font-size: 2em;
			span {			
				vertical-align: middle;
			}		
			.icon-key {
			    color: $keygold;
			    margin-right: 15px;
			    position: relative;
			    top: 2px;
			}
			.key {			
				color: $wikiblue;
			}		
		}
		.players {
			position: absolute;
		    bottom: 0;
		    width: 100%;
		    display: table;	   
		    table-layout: fixed; 
		    text-align: center;
		    margin-bottom: 30px;
		}
		.player {
		 	display: table-cell;
		 	vertical-align: bottom;
		 	.name { 
		 		@extend .serif;
		 		font-size: 1.8em;
			    font-weight: 300;
		 		margin: 0;
		 		position: relative;
		 		word-break: break-all;	 		
		 		top: 100px;
		 		opacity: 0;	 		
		 		transition: 	 		
		 			0.6s top $easeInOutQuint 1s, // easeInOutQuint
		 			0.6s opacity ease-in-out 1s;
			}
		 	.status {
			    margin: 0;
			    font-size: 1.4em;
			    margin-bottom: 25px;
			    color: black;
			    text-transform: lowercase;
			    letter-spacing: 1px;
			    position: relative;
			    transition: 0.2s color ease-out 1.2s;
			    &::after {
			    	content: '';
					position: absolute;
					height: 5px;
					width: 5px;
					border-radius: 50%;
					right: 50%;
					bottom: calc(100% + 20px);  
					left: auto;
					transform: translate(50%, 50%);
					background-color: black;
					transition: 
						1.2s bottom $easeInOutBack, // easeInOutBack
						1s background-color ease,
						0.2s border-radius ease-in-out 0.8s,
						0.2s height ease 1s,
						0.4s width $easeInOutQuint 1s; // easeInOutQuint
				}
		 	}
		 	&.joined {
		 		.status {
		 			color: #ddd;
		 		}
		 		.status::after {
		    	    bottom: 45%;
					border-radius: 0;
					height: 3px;
					width: 60%;
			    }
			    .name { 
			 		top: -10px;
			 		opacity: 1;
				}		 	
		 	}
		}
		@for $i from 0 through 7 {
			.player:nth-of-type(#{$i+1}) {
				position: relative;
				opacity: 0;
				top: 30px;
				transition: 1s all ease-in-out #{($i * 100) + 1200}ms;
				&.show {
					opacity: 1;
					top: 0px;
				}
				&.joined {
			 		.status::after {
			    	    background-color: nth($playerColors, $i+1);
				    }		 	
			 	}
			}
		}
	}
	#view-describe-round-1 {
		.type-wrapper {
			font-size: 7.2em;
			margin: 0;
			position: absolute;
			top: 13%;
			left: 5%;
			transform: translateX(0, 50%);
			white-space: nowrap;
			-webkit-backface-visibility: hidden;
			transform: translateZ(0) scale(1, 1);
			transition: 1.2s right $easeInOutQuint 1s;
		    .typed, .typed-cursor {
		    	min-height: 1em;
		    	display: inline-block;
		    	opacity: 1;  
		    	transition: 1.2s opacity $easeInOutQuint 1s;
		    }
		    .logo {
		    	text-align: left;
		    	// opacity: 0.05;
		    	// transition: 1.2s opacity $easeInOutQuint 1s;
		    }
		    .description {
		    	margin: 0;
		    	padding: 0;
			    font-size: 0.2em;
			    white-space: normal;
			    list-style-type: none;
			    //transition: 
			    //	1.5s opacity $easeInOutQuint 1s,
			    //	1.5s left $easeInOutQuint 1s;
			    li {
			    	margin: 0 0 1em 0;
				    line-height: 1.5em;
				    opacity: 0;
				    position: relative;
				    top: 200px;
					transition: 
				    	1s opacity $easeInOutQuint,
				    	1s top $easeInOutQuint;
				    &.show {
				    	top: 0;
				    	opacity: 1;
				    }
			    }
		    }
		    &.slide-left {
		    	right: 95%;	    	
			    .typed {
			    	opacity: 0.05;  		    	
			    } 
			    .typed-cursor {
			    	opacity: 0;  		    	
			    }
		        .logo {
			    	opacity: 1;
			    }		    
			    .description {
			    	opacity: 1;	
			    	left: 100%;	    	
			    }
			}
		}		
	}
	#view-answer-phase {
		.question-anchor {
			position: absolute;
			width: 100%;
			left: 0;
			opacity: 0;
			top: 100%;
			transition: 
				0.5s opacity $easeInOutQuint 1s,
		    	0.5s top $easeInOutQuint 1s;
			.question {
				font-size: 5em;
				position: absolute;
				top: 0%;
				left: 50%;
				transform: translate(-50%, 0%);
				margin: 0;		
				transition: 					
			    	0.6s width $easeOutQuint, // easeOutQuint
			    	0.6s font-size $easeOutQuint,
			    	0.6s transform $easeOutQuint,
			    	0.6s left $easeOutQuint;
			}
			&.reveal {
				opacity: 1;
				top: 40%;
			}
			&.tuck {
				top: 40px;
				transition: 					
			    	0.7s top $easeOutQuint;
				.question {
					left: 40px;
					min-width: 50%;
					transform: translate(0%, 0%);
					font-size: 3em;
				}
			}
		}
		.players {
			position: absolute;
		    bottom: 0;
		    width: 100%;
		    display: table;	   
		    table-layout: fixed; 
		    text-align: center;
		    margin-bottom: 60px;
		}
		.player {
		 	display: table-cell;
		 	vertical-align: bottom;
		 	.name { 
		 		@extend .serif;
		 		font-size: 1.8em;
			    font-weight: 300;
		 		margin: 0;
		 		position: relative;
		 		word-break: break-all;
		 		color: #bbb;
		 		transition: 0.6s color ease-in-out 0.4s;
			}
			@for $i from 0 through 7 {
				&.answered:nth-of-type(#{$i+1}) .name {
					color: nth($playerColors, $i+1);					
				}
			}
		 }		 
		.countdown {
			position: absolute;
			top: 45%;
			right: 50%;
			transform: translate(50%, -50%);
			width: calc(20% + 25px);			
			svg {
				width: 100%;
			}
			.circle {
				stroke-dasharray: 252;
				stroke-dashoffset: 252;
			}
			.timer {
				position: absolute;
				right: 50%;
				bottom: 50%;
				transform: translate(50%, 50%);
				color: #ccc;
				font-size: 4em;
				letter-spacing: 5px;			
				margin: 0;
			}
		}
	}
}

// typed.js typing plugin

.typed-cursor{
    opacity: 1;
    animation: blink 1.1s infinite;
    position: relative;
    bottom: 0.15em;
    font-size: 1.4em;
    font-weight: 100;
    margin-left: 0.1em;
    transition: 0.5s opacity ease-in-out;
    &.hide {
    	animation: none;
    	opacity: 0;
    }
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

#client-player  {
	#view-player-registration {
		padding: 40px 15%;
	}
	.view:not(#view-player-registration) {
		display: block;
	    min-height: 100%;
	    padding: 15px;
	    display: none;
	}
	.display-name {
		margin: 0;
	    text-align: center;
	    font-size: 2em;
	    padding: 10px 20px;
	    span {
    	    font-style: italic;
		    color: $wikiblue;
	    }
	}	
	h3 {
		text-align: center;
	    font-size: 14px;
	    color: #bbb;
	}
	.submit-game-start {
		display: none;
		&.show {
			display: block;
		}
	}
	.question {
	    font-size: 1.3em;
	    border-left: 3px solid lightgrey;
	    padding: 10px 0 10px 10px;
	}	
	form {
		width: 100%;
	}
	label {
		margin-bottom: 10px;
		display: block;
	}
	input, .submit {
		width: 100%;
		font-size: 1.5em;
		display: block;
		padding: 10px;
		margin: 10px 0;
		border: 2px dotted black;
		border-radius: 5px;
		&:focus {
			outline: none;
		}
	}
	.submit {		
	    margin: 25px auto 10px;
	    width: 50%;
	    text-align: center;
	    background-color: white;
	    color: $wikiblue;
	    border: 2px solid;
	    box-shadow: 0px 3px 6px 0px rgba(0,0,255,0.2);
	}
	.submit-answer:nth-of-type(2) {
		display: none;
	}
}

.clock-timer {
	border-radius: 50%;
	overflow: hidden;
	height: 50px;
	width: 50px;
	.fill {
		width: 100%;
		height: 100%;
		position: relative;		
		.cover {
			position: absolute;
			background: white;
			height: 50%;
			width: 50%;
			top: 0;
			left: 0;
			display: block;
			z-index: 10;
	    }
		.quadrant {
			position: absolute;
			background: red;
			height: 50%;
			width: 50%;
			top: 0;
			left: 50%;
			transform-origin: left bottom;
			transform: rotate(-90deg);
			display: block;
			z-index: 5;
			&:nth-child(3) {
				transform-origin: left top;
				top: 50%;
				left: 50%;
				display: none;
			}  
			&:nth-child(4) {
		        transform-origin: right top;
		        top: 50%;
		        left: 0;
		        display: none;
			}
			&:nth-child(5) {
				transform-origin: right bottom;
				top: 0;
				left: 0;
				display: none;
			}
		}
	}
}